@import "https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap";
$primary-color:black;
$secondary-color:#dae9ef;
* {
	padding: 0%;
	margin: 0%;
	font-family: "Nunito Sans", sans-serif;
}
body {
	color: $secondary-color;
	background-color: $primary-color;
	width: 100%;
}
#titulos {
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
}
span {
	font-size: 20px;
	margin-left: 15px;
}
header {
	background-color: $secondary-color;
	color:$primary-color;
	position: sticky;
	top: 0;
}
.navbar {
	background-color:$secondary-color!important;
	.container-fluid {
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
	}
}
.navbar-brand {
	font-size: 40px;
}
.container-fluid {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.nav-item {
	font-size: 25px;
}
main {
	section {
		h1 {
			padding: 20px;
		}
		padding: 20px;
		margin: 0% auto;
		h2 {
			text-align: center;
			padding: 20px;
			font-size: 40px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.titulos {
	text-decoration: underline;
	text-transform: uppercase;
}
div {
	.articulos {
		image-rendering: auto;
		padding: 15px;
	}
}
footer {
	div {
		width: 1100px;
		margin: 0% auto;
	}
	background-color:$secondary-color;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	color:$primary-color;
	font-size: 19px;
}
p {
	font-size: 30px;
	padding: 20px;
	text-align: center;
}
.grid-index {
	display: grid;
	grid-template: repeat(3, 300px) / repeat(3, 300px);
	gap: 15px;
	justify-content: center;
	margin-top: 0;
	justify-items: center;
}
.index-1 {
	display: grid;
	text-align: center;
	grid-column: 1 / 4;
	grid-row: 1 / 3;
	align-content: space-evenly;
}
.index-2 {
	display: grid;
	grid-column: 1 / 4;
	grid-row: 3 / 5;
	margin-bottom: 0;
	justify-items: stretch;
}
.index-3 {
	display: grid;
	justify-content: space-between;
	grid-column: 1 / 4;
	grid-row: 5 / 7;
	margin-top: 20px;
	align-items: center;
	align-content: space-evenly;
}
.contenedor-servicios {
	background-color: $secondary-color;
	border: 8px solid white;
	border-radius: 10px;
	display: grid;
	gap: 5px;
	padding: 20px;
	grid-template: repeat(2, 2fr) / repeat(2, 2fr);
	justify-items: center;
	align-items: center;
	margin-top: 1rem;
}
.box-servicios {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
}
.servicios {
	display: flex;
	align-items: center;
	background-color: $primary-color;
	padding: 15px;
	border-radius: 10px;
	font-size: 20px;
	max-width: 350px;
	img {
		margin-left: 5px;
		border-radius: 5px;
		font-size: 120px;
		&:hover {
			margin-left: 10px;
			border-radius: 5px;
		}
	}
	&:hover {
		zoom: 100%;
		border: solid #6df043;
	}
}
.box-productos {
	display: flex;
	border-radius: 10px;
	flex-direction: column;
	align-content: center;
	flex-wrap: wrap;
}
.productos {
	text-align: center;
	width: 100%;
	padding: 35px;
	font-size: 30px;
	gap: 30px;
	img {
		width: 800px;
		border: solid;
		border-radius: 10px;
		&:hover {
			cursor: zoom-in;
		}
	}
}
.contactos {
	background-color: $secondary-color;
	color: $primary-color;
	padding: 20px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 30rem;
	height: 40rem;
	border-radius: 15px;
	border: solid 5px;
	gap: 20px;
	margin-left: 45rem;
	margin-top: 2rem;
	label {
		font-size: 30px;
	}
	input {
		font-size: 15px;
		border: solid white 10px;
		border-radius: 10px;
		width: 50%;
		&:focus {
			font-size: 25px;
		}
	}
	textarea {
		font-size: 15px;
		border: solid white 10px;
		border-radius: 10px;
		width: 50%;
		&:focus {
			font-size: 25px;
		}
	}
	button {
		font-size: 20px;
		&:hover {
			zoom: 150%;
		}
	}
}
@media (max-width: 500px) {
	body {
		color: white;
		background-color: $primary-color;
		font-size: 16px;
	}
	#titulos {
		text-transform: uppercase;
		text-align: center;
		font-size: 25px;
	}
	.grid-index {
		display: block;
		width: 23rem;
		gap: 5px;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 1rem;
	}
	.sections {
		width: 24rem;
		margin-left: 2rem;
	}
	.contenedor-productos {
		display: flex;
		width: 23rem;
	}
	.productos {
		img {
			width: 16rem;
			border: solid;
			border-radius: 10px;
		}
	}
	.contenedor-servicios {
		display: flex;
		gap: 20px;
		padding: 5px;
		justify-items: center;
		width: fit-content;
		margin-top: 10px;
		flex-direction: column;
		margin-left: -18px;
	}
	.contenedor-contactos {
		margin-left: 2rem;
	}
	.contactos {
		padding: 20px;
		margin: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		width: 22rem;
		height: 40rem;
		gap: 20px;
		margin-left: 2rem;
		margin-top: 2rem;
	}
}
@media (min-width: 501px) and (max-width: 1200px) {
	body {
		color: white;
		background-color: $primary-color;
		font-size: 20px;
		display: block;
	}
	p {
		font-size: 25px;
		text-align: center;
	}
	.grid-index {
		display: block;
		width: 30rem;
		gap: 15px;
		flex-direction: column;
		align-items: flex-start;
		margin-left: 10rem;
	}
	.sections {
		width: 35rem;
		height: 500px;
		margin-top: 30px;
	}
	.contenedor-servicios {
		display: flex;
		flex-direction: row;
		gap: 5px;
		padding: 20px;
		justify-items: center;
		align-items: center;
		width: 30rem;
		height: fit-content;
		margin-left: 2rem;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 20px;
	}
	.productos {
		img {
			width: 500px;
			border: solid;
			border-radius: 10px;
		}
	}
	.contactos {
		padding: 20px;
		margin: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		width: 30rem;
		height: 40rem;
		gap: 20px;
		margin-left: 9rem;
        margin-top: 2.5rem;
	}
}



